<table class='table'>
  <tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <%# if user.id = current_user.id %>
  <!--ここのif文はそもそも不要なのだが記録として残す。-->
  <!--このif文で比較ではなく代入を行っていたがためにuserのshowページの@userにカレントユーザーの値が入ってしまい-->
  <!--望み通りの挙動にならなかった。インスタンス変数の同じ異なる内容の部分テンプレートを用いてビューを作成する場合は-->
  <!--部分テンプレートの内容によっては途中で渡す内容が変わることに注意-->
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <%# end %>
</div>